# Introduction to python

In [5]:
print('hello world')
print("hello world")
print("hello world");

hello world
hello world
hello world

### Indentation
if 5>2:
    print('Right Answer')
if 5>2:
           print('Right Answer')

In [22]:
if 5 > 2:
  print("Five is greater than two!")
  print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

### This is a comment
print ("Hello, World!") #This is a comment

"""
You can also multicomment in between these  
"""

### Varaibles

In [4]:
t=88
t="hello" #you can write 'hello' as well
t

'hello'

In [5]:
e=int(5)
print(e)

5

In [6]:
print(type(t))

<class 'str'>

### Variable Names
A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:
A variable name must start with a letter or the underscore character
A variable name cannot start with a number
A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
Variable names are case-sensitive (age, Age and AGE are three different variables)

In [7]:
var='Ali'
var1='Ali'
_var='Ali'
var_1='Ali'

In [8]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [9]:
x = "Python is "
y = "awesome"
z =  x + y
print(z)

Python is awesome

In [10]:
x=66
y=88
print(x+y)

154

### Local vs Global Variable

In [16]:
x = "awesome"

def myfunc():
  x = "fantastic"
  print("Python is " + x)

#myfunc()

print("Python is " + x)

Python is awesome

### Python Datatype

### Example	Data Type
x = "Hello World"	str	
x = 20	int	
x = 20.5	float	
x = 1j	complex	
x = ["apple", "banana", "cherry"]	list	
x = ("apple", "banana", "cherry")	tuple	
x = {"name" : "John", "age" : 36}	dict	
x = {"apple", "banana", "cherry"}	set	
x = frozenset({"apple", "banana", "cherry"})	frozenset	
x = True	bool

In [2]:
m=['apple',1,'capsicum']

In [3]:
m[1]= 'Orange'

In [4]:
m

['apple', 'Orange', 'capsicum']

In [3]:
x=('apple','orange','mangoes')

TypeError: 'tuple' object does not support item assignment

In [1]:
x[2]='berry'

NameError: name 'x' is not defined

In [9]:
import sys
print(sys.getsizeof(m))
print(sys.getsizeof(x))

120
64

In [21]:
list = ["apple", "banana", "cherry"]
#list[1] = "blackcurrant"
print(list)

['apple', 'banana', 'cherry']

In [22]:
list[1] = "blackcurrant"

In [23]:
print(list)

['apple', 'blackcurrant', 'cherry']

In [26]:
list.append("orange")
print(list)

['apple', 'blackcurrant', 'cherry', 'orange', 'orange', 'orange']

In [27]:
list.insert(1, "appricot")

In [29]:
print(list)

['apple', 'appricot', 'blackcurrant', 'cherry', 'orange', 'orange', 'orange']

In [30]:
list2 = ["tea", "mangoes", "halwa"]

In [31]:
list.extend(list2)

In [32]:
print(list)

['apple', 'appricot', 'blackcurrant', 'cherry', 'orange', 'orange', 'orange', 'tea', 'mangoes', 'halwa']

In [10]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [11]:
print(thisdict['brand'])

Ford

In [12]:
thisdict.update({'color':'Red'})

In [13]:
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'Red'}

In [14]:
thisdict.pop("model")

'Mustang'

In [15]:
thisdict

{'brand': 'Ford', 'year': 1964, 'color': 'Red'}

### IF Else

In [38]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [39]:
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

In [40]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [42]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

### Loops

In [17]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [48]:
for x in fruits:
  print(x)
  if x == 'banana':
    break

apple
banana

In [19]:
numbers = [6, 5, 3, 8, 4, 2, 5, 4, 11]
sum = 2
for val in numbers:
    sum = sum+val

print("The sum is", sum)

The sum is 50

### Function

In [51]:
def my_function(fname):
  print(fname + " Refsnes")

my_function("Emil")
my_function("Tobias")
my_function("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [50]:
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("Emil", "Refsnes")

Emil Refsnes

In [ ]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

In [ ]:
def my_function(child3, child2, child1):
  print("The youngest child is " + child3)

my_function(child1 = "Emil", child2 = "Tobias", child3 = "Linus")

In [52]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

In [53]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("John", 36)
p1.myfunc()

Hello my name is John